<div class="col-md-1 day {{#if isLastWeekDay}}last{{/if}}">
    <div class="col-md-12 title">
        <div>{{date}} {{dayName}}</div>  
        <div> <img class="medium-icon"  src="/img/icons/plus.svg" /></div>
    </div> 
    <div class="tasks col-md-12"></div> 
</div>