<div class="row navigation wrapper">
    <div class="user-panel col-md-2">
        <div  class="col-md-12">
            <img class="medium-icon" src="/img/icons/user.svg">
            <span class="title">Hello Masha!</span>
        </div>
    </div>
    <div class="tool-list col-md-2 col-md-offset-8">
        <div class="col-md-4"><img class="medium-icon" src="/img/icons/graph.svg"></div>
        <div class="col-md-4"><img class="medium-icon" src="/img/icons/habbits.svg"></div>
        <div class="col-md-4"><img class="medium-icon" src="/img/icons/settings.svg"></div>
    </div>
</div>