.bg-purple{
    --theme-bg: url('img/bg-purple.jpg'); 
}

.bg-purple .wrapper{
    background:rgba(64, 64, 228, 0.29);
    --box-shadow-color: #7383bf;
}

.bg-purple *{
    color: #363a69;
    border-color: rgb(115, 131, 191);
}


body {
    background-image: var(--theme-bg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper{
    -webkit-box-shadow:-1px 1px 3px 0px var(--box-shadow-color) ;
    -moz-box-shadow:-1px 1px 3px 0px var(--box-shadow-color) ;
    box-shadow:-1px 1px 3px 0px var(--box-shadow-color) ;
}

.medium-icon {
    width: 30px;
}

.title{
    font-weight: bold;
    vertical-align: middle;  
}

.seven-cols .col-md-1,
.seven-cols .col-sm-1,
.seven-cols .col-lg-1  {
    padding: 0;
}

@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
        width: 100%;
    }
}
  
@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
    }
}
@media (min-width: 1200px) {

}

.navigation {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.calendar .header{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.calendar .day{
    border-left-width: 1px;
    border-left-style: solid;
    min-height: 80%;
}
.calendar .day.last{
    border-right-width: 1px;
    border-right-style: solid;
}
.calendar .day .title{
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.calendar .day .title div{
    display: inline-block;
    margin: 10px;
    
}